# === Build artefakti ===
/build/
/build-wsl/
/out/
/.vs/
/CMakeFiles/
/CMakeCache.txt
*.obj
*.o
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

# VS Code
/.vscode/*
!/.vscode/settings.json
LastCoverageResults.log

# Unit test coverage artefakti (OpenCppCoverage)
unit_tests/coverage/

# Valgrind
valgrind/callgrind/callgrind.out.*
!valgrind/callgrind/callgrind.out.1
!valgrind/callgrind/callgrind.out.2
!valgrind/callgrind/callgrind.out.3
!valgrind/callgrind/callgrind.out.4
!valgrind/callgrind/callgrind.out.5
!valgrind/callgrind/callgrind.out.test
!valgrind/callgrind/callgrind.ms_tests.txt
!valgrind/callgrind/callgrind_cache_report.txt
!valgrind/callgrind/kcachegrind_*.png
*.log
LastCoverageResults.log

# === Fuzz: lokalni binari i pojedinačni log ===
fuzz/ms_fuzz
fuzzer
rs_fuzz
fuzz/fuzzer
fuzz/rs_fuzz
fuzz/fuzz-0.log

# IDE
.vs/
.vscode/
